<%if false%>
<div class="card-panel hoverable" style="padding: 0px; border-top: 1px solid  #009688;">
  <ul class="tabs">
    <li class="tab col s3"><%= link_to 'Profile', profile_path(@profile),class: "teal-text", target: "_blank"%></li>
    <li class="tab col s3"><%= link_to 'Yearbook', yearbook_profile_path(@profile),class: "teal-text", target: "_blank"%></li>
    <li class="tab col s3"><a class="teal-text" href="#test3">Classmates</a></li>
    <li class="tab col s3"><a class="teal-text" href="#test4">Messages</a></li>
  </ul>
</div>
<%end%>
<nav class="white">
  <ul>
    <li class="tab col s3"><%= link_to 'Profile', profile_path(@profile),class: "teal-text"%></li>
    <li class="tab col s3"><%= link_to 'Yearbook', yearbook_profile_path(@profile),class: "teal-text"%></li>
    <li class="tab col s3"><a class="teal-text" href="#test3">Classmates</a></li>
  </ul>
</nav>