<div class="row"> 
  <div class="col s6 offset-s2">
    <h2 class="center-align">Editing Profile</h2>
  </div>
</div>
<div class="row"> 
  <div class="col s6 offset-s2 card-panel hoverable">
    <ul class="tabs">
        <li class="tab col s3"><a href="#user_details" >User </a></li>
        <li class="tab col s3"><a href="#education_details" id="education" >Education</a></li>
        <li class="tab col s3"><a href="#occupation_details" id="occupation">Occupation</a></li>
        <li class="tab col s3"><a href="#other_info" id="other">Other</a></li>
      </ul>
  </div>
</div>

<div class="row"> 
  <div class="col s6 offset-s2">
    <%= render 'form' %>
  </div>
  <div class="col s2">
    <div class="toc-wrapper">
      <div style="height: 1px;">
        <ul class="section table-of-contents">
          <li><a href="#user_details">User Information</a></li>
          <li><a href="#education_details">Education Details</a></li>
          <li><a href="#occupation_details">Occupation Details</a></li>
          <li><a href="#other_info">Other Information</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
