/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * 
 */
 
 
 
 /* Sticky footer*/

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


// other css


p {
  line-height: 2rem;
}

.button-collapse {
  color:#e5f9f7;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
 
}
.icon-block .material-icons {
  font-size: inherit;
  
}

footer.page-footer {
  margin: 0 !important;
}

.profile_pic{
  margin: 0px auto;
  display: block;
  max-height:120px; 
  max-width:120px;
}
#profile_pic_other{
  margin: 5px;
  float: left;
  max-height: 160px;
  max-width: 160px;
 
}
#abc{
  margin: 0px !important;
  height: 100vh;
}
.fa-5x {
    color: teal; 
    background-color: white !important;
    padding:5px;
}

.fa-3x {
    color: #00838f ; 
    padding:5px;
}
.tabs .indicator {
  background-color: teal !important;
}
#dropdown1 li a {
  padding: 10px;
}